site_name: AB testing with GTM
site_url: https://abtesting.sandervolbeda.com/
site_author: Sander Volbeda
site_description: >-
  Start with A/B testing for free using Google Tag Manager and Google Analytics 4.

theme:
  name: material
  features:
    - announce.dismiss
    - content.tabs.link
    - content.action.edit
    - content.action.view
    - content.code.annotation
    - content.code.copy
    - content.tooltips
    - navigation.instant
    - navigation.instant.prefetch
    # - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - navigation.tracking
    - toc.follow
    # - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
  language: en
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      #toggle:
       # icon: material/brightness-7
        #name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      #toggle:
       # icon: material/brightness-4
        #name: Switch to light mode 
  font:
    text: Roboto
    code: Roboto Mono
  favicon: img/favicon.png
  logo: img/logo.svg

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true   
  - git-revision-date-localized

extra:
  analytics:
    provider: google
    property: G-3PQHRK7QYV
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/sandervolbeda
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/SanderVolbeda
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/sandervolbeda/

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.highlight: 
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.mark
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

copyright: |
  &copy; 2023 <a href="https://sandervolbeda.com/"  target="_blank" rel="noopener">Sander Volbeda</a>

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js

nav:
  - Welcome: index.md
  - Getting Started: 
    - Checklist: getting-started/checklist.md
    - Google Analytics: getting-started/google-analytics.md
    - Google Tag Manager (GTM): getting-started/google-tag-manager.md
    - Debug (GTM): getting-started/debug.md
    - Scheduling (GTM): getting-started/scheduling.md
    - Folder Structure (GTM): getting-started/folder-structure.md
    - Publish Setup/Experiment: getting-started/publish-experiment.md
    - View Experiment (Live Site): getting-started/view-experiment.md
  - Targetting:
    - Page Path: targetting/page-path.md
    - Device Type: targetting/device.md
    # - Class Based: targetting/class.md
  - Experiment Type:
    - Split Test (Redirect): experiment-type/splittest.md
    # - MVT: splittest.md
  - Analysis GA:
    - Free Form: analyses/free-form.md 
  - Development:
    # - JavaScript: development.md
    # - TamperMonkey: development.md
    - Reduce Load Time: development/reduce-load-time.md
    # - Experiment Heatmaps: development.md
    - React: development/react.md
  - Other:
    - Changelog: changelog.md
    - Contribution: contribution.md
